body {
    background-color: black;
    color: blanchedalmond;
    line-height: 1.8;
}

a {
    color: white
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
}

.other_nav {
    float: right;
}

.nav_bar {
    margin-bottom: 50;
}

.first_paragraph {
    margin-top: 35;
}